.btn{
    display: inline-block;
    background-color: #222935;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    font-family: 'Open Sans';
    border: none;
}

.btn:focus{
    background-color: #222935;
  }

.btn:hover {
    background-color: #26c17e;
  }